<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="{{ app.request.basepath }}/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
            <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" media="screen">
            <title>{% block currentPage %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body class="container">
        {% block navigation %}
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="{{ url('index') }}">W2C3 Student Progress App</a>
                    <ul class="nav">
                        <li{% if 'Quizzes' == block('currentPage') %} class="active"{% endif %}><a href="{{ url('users') }}">Users</a></li>
                        <li{% if 'Images' == block('currentPage') %} class="active"{% endif %}><a href="{{ url('locations') }}">Locations</a></li>
                        <li{% if 'Reports' == block('currentPage') %} class="active"{% endif %}><a href="{{ url('students') }}">Students</a></li>
                    </ul>
                     {% block logout %}{% endblock %}
    
                </div>
            </div>
        {% endblock %}
        {% set _currentPage = block('currentPage') %}
        {% if _currentPage is not empty %}
            <h1>W2C3 Student Progress &gt; {{ _currentPage|raw }}</h1>
        {% endif %}
        {% block content %}{% endblock %}
        <script src="{{ app.request.basepath }}/js/jquery/jquery.js"></script>
        <script src="{{ app.request.basepath }}/bootstrap/js/bootstrap.js"></script>
        {% include "common/config.twig" %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
