{% extends "common/base.twig" %}
{% block currentPage %}Users{% endblock %}
{% block content %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th>Created</th>
                    <th></th> 
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.roles[0].getRole}}</td>
                        <td>{{user.created|date("Y-m-d H:i:s")}}</td>
                        <td><a href="{{ url('user', {id: user.id}) }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "common/pagination.twig" %}
        <a href="{{ url('user', {id: 0}) }}" class="btn">Create New User</a>
{% endblock %}
